#navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 0 20px;
  width: 100vw;
  background-color: hsla(206, 9%, 15%, .8);
  border-bottom: 2px solid var(--ltblue);

  ul {
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    border-left: 2px solid var(--ltblue);
  }

  li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
  }

  a {
    display: inline-block;
    text-decoration: none;
    background: var(--dkgrey);
    color: var(--ltblue);
    padding: 10px 20px;
    border-right: 2px solid var(--ltblue);
  }
  a:hover, a:focus {
    background-color: var(--ltblue);
    color: var(--dkgrey);
    box-shadow: inset 1px 1px 5px var(--dkgrey);
  }
  #a-top {
    font-weight: bold;
  }
}

// Adjust Navbar 
@media only screen and (max-width: 500px){
  #navbar {
    border-bottom: 1px solid var(--ltblue);
    width: 100vh;
    height: 25px;
    right: 100vw;
    transform: rotate(-90deg);
    transform-origin: 100% 0;

    ul {
      width: 100%;
      flex-flow: row-reverse nowrap;
      justify-items: flex-end;
      border-left: none;
    }

    a {
      position: relative;
      top: -5px;
      border-bottom: 2px solid var(--ltblue);
      border-left: 2px solid var(--ltblue);
      border-right: none;
    }

    a:first-child {
      border-right: 2px solid var(--ltblue);
    }

    a:hover, a:focus {
      padding-top: 20px;
    }
  }
  section {
    padding-top: 10px;
    padding-left: 40px;
  }
}