.timerTile {
  display: inline-block;
  width: 300px;
  padding: 20px;
  margin: 5px;
  border: 1px solid var(--ltblue);
  font-size: 18px;
  border-radius: 4px;

  span {
    padding-left: 5px;
  }

  .reqSym {
    color: red;
  }
  
  .date {
    font-size: 12px;
    padding-left: 20px;
  }
}

.timerBox input[type="checkbox"] {
  position: absolute;
  opacity:0;
}

input[type="checkbox"]:checked + label {
  color: grey;
  border-color: grey;

  .reqSym {
    color: grey;
  }
}

input[type="checkbox"]:focus + .timerTile {
  background: var(--ltblue);
  color: black;

  .reqSym {
    color: black;
  }
}


