.timerCard {
  display: inline-block;
  width: 400px;
  height: 50px;
  padding: 0px;
  margin: 5px;
  border: 1px solid var(--ltblue);
  font-size: 14px;
  background-color: white;
  display: flex;
  align-items: center;

  .toggleArea {
    flex-grow:1;
    display:flex;

    .pad {
      position:relative;
      left:-1px;
      top:1px;
      background-color: var(--ltblue);
      width: 50px;
      height: 50px;
    }

    .titleArea {
      padding: 5px 10px;
      flex-grow:1;
      .reqSym {
        color: red;
      }

      h6 {
        margin-top:0;
        margin-bottom:0;
        font-size: 14px;
      }

      .date {
        font-size: 10px;
        padding-left: 10px;
      }
    }
  }

  .actionsArea {
    .delete {
      color: red;
      cursor: pointer;
    }

    /*.edit {
    } */
  }
  
  /* label {
    position: relative;
    left: -50px;
    padding-left: 50px;
  } */
}

.timerCard input[type="checkbox"] {
  position: absolute;
  opacity:0;
}

.timerBox input[type="checkbox"]:checked + label {
  color: grey;
  border-color: grey;

  .reqSym {
    color: grey;
  }
}

.timerBox input[type="checkbox"]:focus + .timerTile {
  background: var(--ltblue);
  color: black;

  .reqSym {
    color: black;
  }
}


