@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  --ltblue: hsl(209, 100%, 85%);
  --dkgrey: hsl(206, 9%, 15%);
  --ltgrey: hsl(210, 8%, 95%);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0px;
}

* {
  box-sizing: border-box;
}

#top {
  margin-top: 30px;
}

section {
  margin-top: 50px;
  padding-left: 30px;
  max-width: 90vw;
}

.basic-info {
  grid-area: basic-info;
  display: grid;
  grid-template:
    "timer-name timer-name"
    "timer-category timer-category"
    "important timer-type"
    "completed timer-type";
  grid-template-columns: 250px 100px;

  .timer-name-field {
    grid-area: timer-name;
  }
  .timer-category-field {
    margin-bottom: 16px;
    grid-area: timer-category;
  }
  .important-field {
    margin-top: 15px;
    grid-area: important;
  }
  .completed-field {
    grid-area: completed;
  }
  .timer-type-field {
    grid-area: timer-type;
  }
}
.specific-info {
  margin-top: 20px;
  grid-area: specific-info;
}
.time-input {
  margin-left: 11px;
}
.days-input {
  margin-left: 30px;
  display: grid;
  grid-template:
    ". . . . ."
    ". . . . .";
  grid-template-columns: 130px 130px 130px 130px 130px;
}

input[type="number"]{
  width: 50px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}