body {
  --ltblue: hsl(209, 100%, 85%);
  --dkgrey: hsl(206, 9%, 15%);
  --ltgrey: hsl(210, 8%, 95%);
  background-color: var(--dkgrey);
  color: var(--ltblue);
  font-family: sans-serif;
  font-size: 14px;
  margin: 0px;
}

* {
  box-sizing: border-box;
}

article {
  background-color: var(--dkgrey);
  background-image: repeating-linear-gradient(hsla(204, 2%, 43%, .1),	hsla(204, 2%, 43%,.1) 1px, transparent 1px, transparent 4px);
}

section {
  min-height: 100vh;
  width: 99%;
  margin: 0px auto;
  padding: 30px 10px 10px 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}